{% extends '../base.html' %}

{% block title %} Modelos {% endblock %}

{% block aviso-deletar %} Você tem certeza que deseja remover esse modelo? {% endblock %}

{% block content %}
    <h1>Modelos</h1>

    <div class="card my-4">
        <div class="card-body">
            <h2 class="d-flex justify-content-between mb-3 fs-4 lh-1">
                {% if modelo %}
                    <span>Editar Modelo</span> <a href="/modelos" class="fs-6 text-danger text-decoration-none">Cancelar</a>
                {% else %}
                    Novo Modelo
                {% endif %}
            </h2>
            <form action="{% if modelo %}/modelos/atualizar/{{ modelo.id }}{% else %}/modelos/cadastrar/{% endif %}" method="POST">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-sm-6 col-lg-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" maxlength="50" class="form-control" name="nome" id="nome" value="{{ modelo.nome }}" required>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <label for="marca" class="form-label">Marca</label>
                        <select class="form-select" name="marca" id="marca" value="{{ modelo.marca }}" required>
                            <option value="">Selecione</option>
                            {% for marca in marcas %}
                                <option value="{{ marca.id }}" {% if marca.id == modelo.marca.id %}selected{% endif %}>{{ marca.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md">
                        <label for="descricao" class="form-label">Descrição</label>
                        <input type="text" maxlength="200" class="form-control" name="descricao" id="descricao"
                            value="{{ modelo.descricao }}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col d-flex justify-content-sm-end">
                        <button type="submit" class="btn btn-primary flex-grow-1 flex-sm-grow-0">
                            {% if modelo %}
                                Salvar
                            {% else %}
                                Cadastrar
                            {% endif %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Descricao</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for modelo in modelos %}
                    <tr valign="middle">
                        <td>{{ modelo.nome }}</td>
                        <td>{{ modelo.marca }}</td>
                        <td>{{ modelo.descricao }}</td>
                        <td width="100px">
                            <div class="d-flex gap-2">
                                <a href="/modelos/{{ modelo.id }}" class="btn btn-sm btn-primary" title="Editar">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <button data-bs-toggle="modal" data-bs-target="#aviso-deletar" data-href="/modelos/deletar/{{ modelo.id }}"
                                    class="btn btn-sm btn-danger" title="Remover">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
