{% extends '../base.html' %}

{% block title %} Marcas {% endblock %}

{% block aviso-deletar %} Você tem certeza que deseja remover essa marca? {% endblock %}

{% block content %}
    <h1>Marcas</h1>

    <div class="card my-4">
        <div class="card-body">
            <h2 class="d-flex justify-content-between mb-3 fs-4 lh-1">
                {% if marca %}
                    <span>Editar Marca</span> <a href="/marcas" class="fs-6 text-danger text-decoration-none">Cancelar</a>
                {% else %}
                    Nova Marca
                {% endif %}
            </h2>
            <form action="{% if marca %}/marcas/atualizar/{{ marca.id }}{% else %}/marcas/cadastrar/{% endif %}" method="POST">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-md-4">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" maxlength="50" class="form-control" name="nome" id="nome" value="{{ marca.nome }}" required>
                    </div>
                    <div class="col">
                        <label for="descricao" class="form-label">Descrição</label>
                        <input type="text" maxlength="200" class="form-control" name="descricao" id="descricao"
                            value="{{ marca.descricao }}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col d-flex justify-content-sm-end">
                        <button type="submit" class="btn btn-primary flex-grow-1 flex-sm-grow-0">
                            {% if marca %}
                                Salvar
                            {% else %}
                                Cadastrar
                            {% endif %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for marca in marcas %}
                    <tr valign="middle">
                        <td>{{ marca.nome }}</td>
                        <td>{{ marca.descricao }}</td>
                        <td width="100px">
                            <div class="d-flex gap-2">
                                <a href="/marcas/{{ marca.id }}" class="btn btn-sm btn-primary" title="Editar">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <button data-bs-toggle="modal" data-bs-target="#aviso-deletar" data-href="/marcas/deletar/{{ marca.id }}"
                                    class="btn btn-sm btn-danger" title="Remover">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
